/*
Authors: 	Emily Jonatan, Pranav Talwar	 	
Class:	 	CSC 337, Professor Rick Mercer
		 	
Who Are You? - Final Project
styles.css
	Provides the CSS styling for main.html, ...

*/

body {
	margin: 0px;
	padding: 0px;
	background-image: url("images/bg.jpg");
	background-attachment:fixed;
	background-size: cover;
	font-family: "Courier New";
}

.header {
	background-color: rgba(172, 6, 80, 0.75);
	margin: 0px 0px 50px 0px;
	padding: 10px;
	vertical-align: middle;
	overflow: hidden;
	border: solid white;
	border-width: 0px 0px 3px 0px;
}

.header p {
	margin: 0px;
	padding: 0px;
	color: white;
	font-weight: bold;
	font-size: 30px;
	display: inline;
	float: left;
}

.maincontain {
	width: 90%;
	margin: auto;
}

button {
	font-family: "Courier New";
	border: none;
	display: inline;
	float: right;
	width: 100px;
	text-align: center;
	background-color: #ff80c0;
	border-radius: 5px;
	margin: 5px;
	color: black;
	font-weight: bold;
	font-size: 20px;
}

.main {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px;
	background-color: rgba(172, 6, 80, 0.75);
	border-radius: 10px;
	font-size: 20px;
	color: white;
	border: dashed 3px white;
}

.typingdisc {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	padding: 20px;
	background-color: rgba(172, 6, 80, 0.75);
	border-radius: 10px;
	font-size: 20px;
	color: white;
	border: dashed 3px white;
	width: 500px;
	height: 230px;
	margin: auto;
}

.games {
	height: 100px;
	margin: auto;
}

.destroy {
	display: none;
}

.spacer {
	height: 50px;
}

.leaderboard {
	text-align: center;
	height: 400px;
	width: 47%;
	float: left;
	display: inline-block;
}

.login_signup_header {
	text-align: center;
	height: 70px;
	width: 400px;
	margin: auto;
}

.login_signup {
	height: 160px;
	width: 400px;
	margin: auto;
}

.profile {
	text-align: center;
	height: 400px;
	width: 47%;
	float: left;
	display: inline-block;
}

.stats {
	text-align: center;
	height: 400px;
	width: 47%;
	float: right;
	display: inline-block;
}

.about {
	text-align: center;
	height: 400px;
	width: 47%;
	float: right;
	display: inline-block;
}

.signlog {
	height: 500px;
	margin: auto;
}

.clickgame {
	text-align: center;
	margin: auto;
	font-weight: bold;
	color: white;
}

.inputdiv {
	position: fixed; 
	left: 40%;
	top: 43%;	
}

input {
	width: 20%;
	font-size: 40px; 
	color: white;
	border: none;
	text-align: center;
	background-color: rgba(172, 6, 80, 0.75);
	
	
}
.clickgame p {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
	color: rgba(255, 128, 192, 0.7);
    font-size: 200px;
    font-size: 35vw;
    padding: 0px;
    margin: 0px;
}

